@model Merchello.CardConnect.Models.CardConnectPaymentModel
@using Merchello.CardConnect.Controllers;
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Pay With CardConnect</h4>
    </div>
    <div class="panel-body">
        <div class="pull-right">
            <svg xmlns="http://www.w3.org/2000/svg" width="170" height="23" viewBox="0 0 170 23">
                <title>CardConnect</title>
                <path fill="#0A4A6E" d="M41.3756614 4.8175984c-.3597884-.092-.7195767-.184-1.0793651-.184-.3597884-.092-.7195767-.092-1.0793651-.092-.3597883 0-.7195767-.092-.989418-.092-1.4391534 0-2.7883598.092-3.9576719.368-1.1693122.276-2.1587302.552-3.0582011.92v16.652h4.8571429v-13.432c.1798941-.092.5396825-.092.989418-.184.3597883-.092.7195767-.092 1.079365-.092.6296297 0 1.2592593.092 1.8888889.184.6296297.092.2698413.276.7195767.368l1.5291006-4.14c-.2698413-.184-.5396826-.276-.8994709-.276zm121.2486776 13.984c-.269842.092-.719577.276-1.349207.46-.629629.184-1.439153.276-2.518518.276-.62963 0-1.079365-.092-1.529101-.184-.449735-.092-.809524-.368-1.079365-.644-.269841-.368-.539682-.828-.629629-1.38-.179895-.552-.179895-1.288-.179895-2.208v-8.096h7.285715v-2.484h-7.285715v-4.324l-3.417989.552v14.536c0 1.196.089947 2.208.359788 3.036.179894.92.539683 1.656 1.079365 2.208.539683.644 1.169313 1.104 2.068783 1.38.809524.276 1.978836.46 3.238096.46 1.079365 0 2.068783-.092 2.968254-.368.899471-.276 1.439153-.46 1.798941-.552l-.809523-2.668zm-134.9206353-12.512c-.5396825-.644-1.3492063-1.104-2.2486772-1.38-.989418-.368-2.1587302-.46-3.5978836-.46-.5396826 0-1.0793651 0-1.6190477.092-.5396825.092-1.079365.092-1.5291005.184-.4497354.092-.989418.184-1.3492063.276-.4497355.092-.8095238.184-1.0793651.276l-.6296296 3.956c.5396825-.184 2.5185185-.368 3.2380952-.46.8095238-.092 1.6190476-.184 2.4285714-.184 1.2592593 0 2.0687831.276 2.6084656.736.5396826.46.7195767 1.196.7195767 2.024v.46c-.2698412-.092-.7195767-.184-1.1693121-.184-.4497355-.092-1.0793651-.092-1.7089947-.092-.8994709 0-1.7989418.092-2.6984127.276-.8994709.184-1.6190477.46-2.2486773.92-.6296296.184-1.1693121.736-1.5291005 1.472s-.6296296 1.564-.6296296 2.576.1798941 1.932.5396825 2.668c.3597884.736.8095238 1.288 1.5291005 1.748.6296297.46 1.4391535.736 2.3386244.92.8994709.184 1.8888889.276 2.9682539.276 1.7089947 0 3.2380953-.092 4.4074074-.276 1.2592593-.184 2.1587302-.368 2.8783069-.552v-10.12c0-1.104-.0899471-2.024-.3597883-2.944-.2698413-.92-.6296297-1.656-1.2592593-2.208zm-2.968254 12.144c-.2698412.092-.6296296.092-1.079365.092h-1.3492064c-.8994709 0-1.5291005-.184-2.0687831-.46-.5396825-.276-.7195767-.828-.7195767-1.564 0-.368.0899471-.736.2698413-1.012s.3597883-.46.7195767-.644c.2698413-.184.6296296-.276 1.0793651-.276.3597883-.092.8095238-.092 1.2592592-.092.3597884 0 .7195768 0 1.0793651.092.3597884.092.6296297.092.8994709.092v3.772h-.0899471zm-13.1322751-.368c-.6296296.092-1.2592593.184-1.8888889.184-1.6190476 0-2.69841268-.46-3.4179894-1.288-.62962963-.828-.989418-2.024-.989418-3.588 0-1.472.35978837-2.576 1.0793651-3.496.7195767-.92 1.7989418-1.288 3.14814813-1.288.62962967 0 1.25925927.092 1.79894177.184.5396826.092 1.0793651.276 1.5291006.46l.989418-3.864c-.7195768-.276-1.4391535-.552-2.1587302-.644-.7195767-.092-1.5291005-.276-2.51851853-.276-1.34920634 0-2.6084656.184-3.68783068.736-1.0793651.46-1.978836 1.104-2.7883598 1.932-.71957673.828-1.34920636 1.748-1.7089947 2.852-.35978838 1.104-.62962965 2.208-.62962965 3.496 0 1.288.17989418 2.484.44973545 3.496.35978837 1.104.8994709 2.024 1.61904763 2.852.71957672.828 1.61904762 1.472 2.7883598 1.932 1.07936507.46 2.42857142.644 3.95767194.644.98941803 0 1.97883603-.092 2.78835983-.276.8095238-.184 1.5291005-.368 2.068783-.644l-.5396825-3.956c-.5396825.276-1.1693122.46-1.8888889.552zm41.015873-17.02v4.048c-.5396825-.184-1.0793651-.46-1.6190476-.552-.5396825-.092-1.0793651-.184-1.7989418-.184-1.2592593 0-2.2486772.184-3.2380952.644-.8994709.46-1.7089947 1.012-2.3386244 1.748-.6296296.828-1.1693121 1.748-1.5291005 2.852-.3597884 1.104-.5396825 2.392-.5396825 3.772s.1798941 2.576.6296296 3.68c.3597883 1.104.989418 2.024 1.7089947 2.76.8095238.736 1.7089947 1.38 2.7883598 1.748 1.0793651.368 2.3386243.644 3.7777778.644.5396825 0 1.1693121 0 1.7989418-.092.6296296-.092 1.2592592-.092 1.8888888-.184.6296297-.092 1.1693122-.184 1.7989418-.276.5396826-.092 1.0793651-.276 1.5291006-.368v-20.976l-4.8571429.736zm.0899471 17.02c-.2698413.092-.5396825.092-.8994709.092s-.8095238.092-1.1693122.092c-1.3492063 0-2.3386243-.46-2.9682539-1.38-.6296297-.92-.989418-2.116-.989418-3.588 0-3.128 1.1693122-4.692 3.4179894-4.692.5396825 0 .989418.092 1.4391534.184.5396826.092.8994709.276 1.1693122.46v8.832zm17.5396825 1.38c-.7195767.184-1.4391534.184-2.2486772.184-1.0793651 0-1.978836-.184-2.6984127-.46s-1.3492063-.736-1.7989418-1.288c-.4497354-.552-.8095238-1.196-.989418-2.024-.1798942-.736-.3597883-1.656-.3597883-2.576 0-2.116.4497354-3.68 1.4391534-4.692.989418-1.104 2.3386243-1.656 4.047619-1.656.7195768 0 1.3492064.092 1.978836.184.6296296.092 1.1693122.276 1.7089947.552l.7195767-2.576c-.7195767-.276-1.5291005-.46-2.2486772-.644-.8095238-.092-1.6190476-.184-2.4285714-.184-1.2592593 0-2.5185185.184-3.5079365.644-1.0793651.46-1.978836 1.104-2.6984127 1.84-.7195768.828-1.2592593 1.748-1.7089947 2.852-.3597884 1.104-.6296297 2.3-.6296297 3.68 0 1.38.1798942 2.484.5396826 3.588.3597883 1.104.8994709 2.024 1.6190476 2.852.7195767.828 1.6190476 1.38 2.6984127 1.84 1.0793651.46 2.3386243.644 3.7777778.644.4497354 0 .8994709 0 1.3492063-.092.5396825-.092.989418-.092 1.3492064-.184.3597883-.092.8095238-.184 1.1693121-.276.3597884-.092.6296297-.184.8095238-.276l-.4497354-2.576c-.1798942.276-.7195767.46-1.4391535.644zm48.3015878-12.88c-.539683-.736-1.25926-1.288-2.158731-1.656-.899471-.368-2.068783-.552-3.417989-.552-1.529101 0-2.878307.092-4.047619.276-1.169312.184-2.15873.368-2.878307.552v17.112h3.148148v-14.904c.089947 0 .269841-.092.539683-.092.269841-.092.539682-.092.899471-.092.359788 0 .629629-.092.989418-.092h1.079365c.809524 0 1.5291.092 2.068783.276.539682.184.989418.552 1.349206 1.012.359788.46.539683 1.104.719577 1.84s.179894 1.656.179894 2.76v9.2h3.148148v-9.752c0-1.196-.089947-2.3-.359788-3.312-.359789-1.012-.719577-1.84-1.259259-2.576zm10.703703-2.208c-.989418 0-1.978836.184-2.968254.552-.989418.368-1.798942.92-2.518518 1.656-.719577.736-1.349207 1.656-1.798942 2.852-.449735 1.104-.62963 2.484-.62963 3.956 0 1.288.179895 2.484.539683 3.588s.899471 2.024 1.619047 2.852c.719577.828 1.619048 1.38 2.698413 1.84 1.079365.46 2.428572.644 3.957672.644 1.169312 0 2.248677-.092 3.238095-.368.989418-.184 2.428572-.828 2.878307-1.012l-.719576-2.484c-.359789.184-1.529101.552-2.248678.736-.719576.184-1.619047.46-2.788359.46-1.978836 0-3.41799-.644-4.317461-1.564-.809524-.828-1.349206-2.024-1.5291-3.496 0-.184 0-.368-.089947-.552-.179895-1.656.089947-2.668.089947-2.668.089947-.552.179894-1.012.359788-1.564s.539683-1.104.899471-1.564c.359788-.46.809524-.828 1.349206-1.104.539683-.276 1.169312-.368 1.888889-.368 1.259259 0 2.248677.46 2.968254 1.38.719577.92 1.079365 2.024 1.079365 3.404l-7.375661 1.472c0 .46.089947 1.564.359788 2.208l10.253968-2.024v-1.104c0-2.944-.629629-4.324-1.888888-5.796-1.169313-1.196-2.968254-1.932-5.306879-1.932zm-26.534391 2.208c-.539683-.736-1.25926-1.288-2.15873-1.656-.8994713-.368-2.0687835-.552-3.4179899-.552-1.5291005 0-2.8783068.092-4.047619.276-1.1693122.184-2.1587302.368-2.8783069.552v17.112h3.1481482v-14.904c.0899471 0 .2698412-.092.5396825-.092.2698413-.092.5396825-.092.8994709-.092s.6296296-.092.989418-.092h1.0793651c.8095238 0 1.5291005.092 2.068783.276.5396826.184.989418.552 1.3492061 1.012.359789.46.539683 1.104.719577 1.84s.179894 1.656.179894 2.76v9.2h3.148148v-9.752c0-1.196-.089947-2.3-.359788-3.312-.359788-1.012-.719577-1.84-1.259259-2.576zm-16.1005294.276c-.7195767-.736-1.6190476-1.38-2.6984127-1.84-.989418-.46-2.1587301-.644-3.4179894-.644s-2.2486772.276-3.3280423.644-1.8888889 1.012-2.6984127 1.84c-.7195767.828-1.3492064 1.748-1.7089947 2.852-.4497355 1.104-.6296297 2.3-.6296297 3.68 0 1.38.1798942 2.576.6296297 3.68.4497354 1.104.989418 2.024 1.7089947 2.852.7195767.736 1.6190476 1.38 2.6984127 1.84.989418.46 2.1587301.644 3.4179894.644s2.3386243-.184 3.4179894-.644 1.8888889-1.012 2.6984127-1.84c.7195767-.828 1.3492064-1.748 1.7089947-2.852.4497355-1.104.6296296-2.3.6296296-3.68 0-1.38-.1798941-2.576-.6296296-3.68-.4497354-1.104-1.0793651-2.024-1.7989418-2.852zm-2.3386243 11.132c-.8994709 1.104-2.1587302 1.656-3.6878307 1.656-1.5291005 0-2.7883598-.552-3.6878307-1.656-.8994709-1.104-1.3492063-2.668-1.3492063-4.6 0-1.932.4497354-3.496 1.3492063-4.6.8994709-1.104 2.1587302-1.656 3.6878307-1.656 1.5291005 0 2.7883598.552 3.6878307 1.656.8994709 1.104 1.3492063 2.668 1.3492063 4.6 0 1.932-.4497354 3.496-1.3492063 4.6zm64.0423277 1.472c-.629629.184-1.349206.184-2.15873.184-.989418 0-1.798942-.184-2.518518-.46-.719577-.276-1.25926-.736-1.708995-1.288-.449736-.552-.809524-1.196-.989418-2.024-.179894-.828-.269841-1.656-.269841-2.576 0-2.116.449735-3.68 1.349206-4.692.899471-1.104 2.15873-1.656 3.867725-1.656.62963 0 1.708995.092 2.338624.184.62963.092 1.439154.46 1.888889.644v-2.76c-.719577-.276-1.439153-.46-2.15873-.644-.719577-.092-1.529101-.184-2.248677-.184-1.25926 0-2.338625.184-3.328043.644-.989418.46-1.888889 1.104-2.518518 1.84-.719577.828-1.259259 1.748-1.619048 2.852-.359788 1.104-.539682 2.3-.539682 3.68 0 1.288.179894 2.484.539682 3.588.359789 1.104.899471 2.024 1.529101 2.852.719576.828 1.5291 1.38 2.608465 1.84.989418.46 2.248678.644 3.597884.644.449735 0 .899471 0 1.349206-.092.449736-.092.899471-.092 1.349207-.184.449735-.092.809523-.184 1.079365-.276.359788-.092.539682-.184.719576-.276l-.449735-2.576c-.539683.368-1.079365.552-1.708995.736z"></path>
                <path fill="#0A4A6E" d="M168.920635 19.3535984c-.179894-.368-.449736-.552-.809524-.736-.62963-.368-1.349206-.368-1.978836 0-.359788.184-.629629.46-.809524.736-.179894.368-.269841.644-.269841 1.012s.089947.736.269841 1.012c.179895.368.449736.552.719577.736.359788.184.62963.276.989418.276s.719577-.092.989418-.276c.359788-.184.539683-.46.719577-.736.179894-.368.269841-.644.269841-1.012.179894-.368.089947-.736-.089947-1.012zm-1.978836.184h.179894c.359788 0 .359788.276.359788.276 0 .184-.179894.276-.359788.276h-.179894v-.552zm.899471 1.288c0-.184-.089947-.368-.179894-.46.179894-.092.269841-.368.269841-.552 0-.184-.089947-.368-.179894-.46-.179894-.184-.359789-.184-.719577-.184-.179894 0-.449735 0-.539683.092h-.089947v2.3h.449736v-.92h.179894c.179894 0 .269841.092.359788.368.089947.368.089947.552.179895.552v.092h.449735c-.089947 0-.089947.092-.179894.092-.449736.276-.989418.276-1.529101 0-.269841-.092-.449735-.368-.539682-.552-.089947-.276-.179894-.552-.179894-.736 0-.276.089947-.552.179894-.736.179894-.276.359788-.46.539682-.552.269842-.092.449736-.184.719577-.184s.539683.092.719577.184c.269841.092.449735.368.539682.552.179894.276.179894.552.179894.736 0 .276-.089947.552-.179894.736-.089947.184-.179894.276-.359788.46l-.089947-.092c.179894-.184.089947-.46 0-.736z"></path>
            </svg>
        </div>
        @using (Html.BeginUmbracoForm<CardConnectPaymentController>("Process", FormMethod.Post, new { area = "FastTrack", autocomplete = "on", @class = "payment-form", @data_toggle = "validator", @role = "form" }))
        {
            string recaptcha_publicKey = System.Configuration.ConfigurationManager.AppSettings["recaptcha_publicKey"];
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.SuccessRedirectUrl)

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CardNumber, new { @for = "cc-number", @class = "control-label" }) <span class="cc-brand pull-right"></span>
                        @Html.TextBoxFor(x => x.CardNumber,
                       new
                       {
                           placeholder = "---- ---- ---- ----",
                           style = "cursor: auto",
                           maxlength = "19",
                           @class = "form-control cc-number",
                           @id = "cc-number",
                           @autocomplete = "cc-number"
                       })
                        @Html.ValidationMessageFor(x => x.CardNumber)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.CardHolder, new { @class = "control-label" })
                        @Html.TextBoxFor(x => x.CardHolder, new { @class = "form-control cc-name text-uppercase" })
                        @Html.ValidationMessageFor(x => x.CardHolder)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ExpiresMonth, new { @class = "control-label clipped-1" })
                        @Html.DropDownListFor(x => x.ExpiresMonth, Model.Months, "-- Select Month --", new { @class = "form-control dropdown" })
                        @Html.ValidationMessageFor(x => x.ExpiresMonth)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ExpiresYear, new { @class = "control-label clipped-1" })
                        @Html.DropDownListFor(x => x.ExpiresYear, Model.Years, "-- Select Year --", new { placeholder = "mm/yy", maxlength = "5", @class = "form-control dropdown" })
                        @Html.ValidationMessageFor(x => x.ExpiresYear)
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Cvv, new { @for = "numeric", @class = "control-label clipped-1" })
                        @Html.TextBoxFor(x => x.Cvv, new { @id = "numeric", @maxlength = "3", @placeholder = "999", @class = "form-control cc-cvc" })
                        @Html.ValidationMessageFor(x => x.Cvv)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="cardconnect_paymentform_gRecaptcha">Google reCaptcha</label>
                        <div id="cardconnect_paymentform_gRecaptcha" class="g-recaptcha" data-sitekey="@recaptcha_publicKey" data-callback="validateSubmit" data-expired-callback="validateSubmit" data-error-callback="validateSubmit"></div>
                        <div id="cardconnect_paymentform_gRecaptchaError" class="text-danger"></div>
                    </div>
                </div>
            </div>
            if (Model.ErrorMessage != null)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4>Payment Error!</h4>
                            <p>@Model.ErrorMessage</p>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-4 form-group">
                    <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.PaymentMethod).Url" class="btn btn-block btn-default">Back</a>
                </div>
                <div class="col-md-4 form-group visible-lg visible-md">
                </div>
                <div class="col-md-4 form-group">
                    <input type="hidden" id="cardconnect-successurl" value="@ExampleUiHelper.Content.GetReceipt().Url" />
                    <button value="submit" id="submit" class="btn btn-block btn-success" disabled>Pay with <span id="card-type">Card</span></button>
                </div>
            </div>
        }
    </div>
</div>
